h1{
	font-size: .4rem;
}
legend{
	font-size: 0.3rem;
}
body{
	font-size: 0.16rem;
}
@media (max-width:1920px){
	html{
		font-size: 100px;
	}
}

@media (max-width:1366px){
	html{
		font-size: 80px;
	}
}

@media (max-width:1280px){
	html{
		font-size: 90px;
	}
}